.navStyle {
  /* margin-top: 50px; */
  /* height: 80px; */
  font-family: "livingstone";
  border-bottom: solid black 2px;
  background-color: rgb(8, 61, 19);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.858);
}
.navStyle a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

.image {
  height: 100px;
  width: 100px;
  background-image: url("../../assets/images/transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: -10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.subNav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-right: 100px;
  align-items: center;
  margin-top: 20px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white;
}

.sublinks {
  display: contents;
  color: white;
}

.dropDown {
  color: black !important;
  font-size: larger;
}

.mainBar {
  display: flex;
  height: 100vh;
  float: left;
}

.barExtention {
  background-color: rgba(0, 128, 0, 0.5);
  height: 100vh;
  width: 0;
  border-right: 2px solid black;
  transition: width 300ms ease;
}
.barExtention .innerSidebar {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.barExtention h2 {
  text-decoration: underline;
  text-align: center;
}
.barExtention p {
  font-style: italic;
}
.barExtention img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.barExtention h5 {
  margin-top: 10px;
}
.barExtention nav {
  background-color: rgb(9, 46, 22);
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  margin-top: 30px;
}
.barExtention nav h5 {
  margin-left: 1px;
}
.barExtention .setting {
  display: block;
  text-align: start;
  align-content: center;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}
.barExtention .setting :hover {
  background-color: green;
  border-radius: 10px;
  margin-left: 10px;
}
.barExtention .links {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px;
  text-decoration: none;
  color: white;
}

.sideBar {
  overflow: auto;
  white-space: nowrap;
  background-color: rgb(1, 34, 17);
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  float: left;
  padding: 10px;
  align-items: center;
}
.sideBar .line {
  background-color: white;
  width: 52px;
  height: 3px;
}

.clickable {
  cursor: pointer;
  color: rgb(18, 164, 12);
}

.icon {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.list {
  margin: 0;
  padding: 0;
}
.list li {
  list-style: none;
}

.guild {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  margin: 8px;
  float: left;
  display: block;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(18, 164, 12);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(5, 172, 172, 0.703);
  border-radius: 5px;
}/*# sourceMappingURL=componentStyles.css.map */